:root {
  --nav-height: 32px;
}

body {margin:0; padding:0; background:#222; font-family:"San Francisco","Helvetica Neue","Product Sans",sans-serif;}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {margin-bottom:var(--nav-height);}

#menu,#meta,#map,#console {position:absolute; width:100%}

#menu {bottom:0; height:var(--nav-height); background:#222; color:#aaa;}
#menu ul {margin:0; padding:0; height:inherit; list-style:none; display:flex; align-items:center;}
#menu li {flex:auto}
#menu a {display:block; text-align:center; color:#aaa}

#meta {top:0; bottom:var(--nav-height); overflow:scroll; background:#ccc; color:#223;}

#map {top:0; bottom:var(--nav-height); z-index:0;}

#console {bottom:var(--nav-height); height:24px; background:floralwhite; border-radius:12px 12px 0 0; box-shadow:0px -12px 8px rgba(0,0,0,.7);}
#console.expanded {height:300px;}
#console::before {display:block; width:30px; margin:13px auto; font-size:0px; content:"."; border-top:2px solid lightgray; user-select:none; cursor:grab;}
#console .content {height:100%; overflow:scroll;}
